<!-- templates/home.html -->
{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<div>
    <ul class="list-group">
    <div class="friend_request_list">
        {% for friend_req in friend_requests %}
            <li>
                <span>{{friend_req.0}} sent you a friend request on {{friend_req.2}}</span>
                <button id="accept-{{friend_req.1}}-{{friend_req.0}}" class="accept btn btn-primary">Accept</button>
                <button id="decline-{{friend_req.1}}-{{friend_req.0}}" class="decline btn btn-danger">Decline</button>
            </li>
        {% empty %}
            You have no friend requests :( retard
        {% endfor %}
    </div>
    </ul>
</div>
<div class="post-creation">
    <h5 style="display: inline-block">New post </h5>
    <textarea class="post-textarea"></textarea>
    <div>
       <button class="w-50px btn btn-success" id="create_post_button">Submit Post</button>
    </div>
</div>

<hr>
<div class="posts-container" >
    {% for post in posts%}
        <div>
            {% include 'post/post.html' with poster=post.0 img=post.1 time=post.2 text=post.3 id=post.4 liked=post.5 bookmarked=post.6 reposted=post.7 comments=post.8 %}
        </div>
    {% endfor %}

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
    let messages = [];
    $("#create_post_button").on('click', function(){
        let post_text = $(".post-textarea").val();
        $(".post-textarea").val('');

        $.ajax({
            type: 'POST',
            url: '/creation_post/',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data:{
                'text': post_text,
                'sender': '{{user.username}}',
            },
            success: function(data){
                console.log(data)
            }
        })
    })

    $('document').ready(function(){
        $("#conversation_container").toggle();
    })
    $('.accept, .decline').on('click', function(){
        $.ajax(
        {
        type:"POST",
        url: "",
        headers: {'X-CSRFToken': '{{ csrf_token }}'
        },
        data: {'req_response': $(this).attr('id'),
                'request_type': 'friend_request'
        },

        success: function( data )
        {
            console.log(data);
        }
     })
    })

    $('[id=open_conv]').on('click', function(){
        let conv_container = $("#conversation_container");
        conv_container.toggle();
        conv_container.attr('name',$(this).attr('name'));
        let name = conv_container.attr('name');
        console.log('{{user.username}}', name)
        $.ajax({
            type:'POST',
            url:'\/get_messages/' + '{{user.username}}-' + name,
            headers:{'X-CSRFToken': '{{ csrf_token }}'},
            success: function(data){
                try {


                    data = JSON.parse(data);
                    for (let i = 0; i < data.length; i++) {
                        let sender = data[i]['sender']

                        if (String(sender) === String('{{user.id}}')) {
                            sender = '1';
                        } else {
                            sender = '2';
                        }

                        console.log(sender);

                        $("#message_div").append(
                            "<div class='dialog-" + sender + "'>" + data[i]['text'] +
                            "</div>"
                        )
                    }
                }
                catch (error){
                    console.log(error);
                }
            }
        })
    });

    $('#send_message').on('click', function(){
        let receiver = $("#conversation_container").attr('name');
        let message_value = $("textarea").val();

        let data = {'receiver': receiver,
                    'message_value': message_value,
                    'request_type': 'message_sent'
            }

        $.ajax(
        {
        type:"POST",
        url: "",
        headers: {'X-CSRFToken': '{{ csrf_token }}'
        },
        data: data,

        success: function( data )
        {
            console.log(data);
        }
     })
    $('textarea').val('');

    })

</script>

{% endblock content %}