body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

  h1 {
      color: red;
    }

  img.bookcover {
    height: 300px;
    width: auto;
  }

:root {
  --main-light-color: #f9bbb1;
  --main-dark-color: #481b0b;
  --main-background-color: black;
}

#message-receiver{
	text-align: left;
    max-width: 45%;
	width: fit-content;
    padding: 5px;
    overflow-wrap: break-word;

  	background-color: darkgrey;
  	border-radius: 15px;
	margin-bottom: 15px;
  	right: 0;
	color: white;
}


#message-sender{
    margin-left: auto;
    border: 1px solid black;
    margin-right: 2%;
    overflow-wrap: break-word;
	text-align: left;
 	max-width: 50%;
	width:fit-content;
    padding: 5px;
  	background-color: whitesmoke;
  	border-radius: 15px;
    margin-bottom: 14px;
    color:black;
}

