body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }



#message-receiver{
	text-align: left;
    max-width: 45%;
	width: fit-content;
    padding: 5px;
    overflow-wrap: break-word;

  	background-color: darkgrey;
  	border-radius: 15px;
	margin-bottom: 15px;
  	right: 0;
	color: white;
}


#message-sender{
    margin-left: auto;
    border: 1px solid black;
    margin-right: 2%;
    overflow-wrap: break-word;
	text-align: left;
 	max-width: 50%;
	width:fit-content;
    padding: 5px;
  	background-color: whitesmoke;
  	border-radius: 15px;
    margin-bottom: 14px;
    color:black;
}


.post-creation{
  display: grid;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.post-textarea{
    display: inline-block;
}

.posts-container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.post-div{
    padding: 20px;
    border: 1px solid gray;

}
.reactions{
    border: #481b0b 2px solid;
    margin-bottom: 0;
    cursor: pointer;
}
.liked{
    color: red;
}
.bookmarked{
    color: blue;
}
.reposted{
    color: yellow;
}
.comments{
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    background-color: #eeeeee;
    border: 2px solid black;
    border-top: 0;
}
.hidden{
    display: none;
}
.comment{
    border-top: 2px solid black;
}